{% extends 'users/user_base.html' %}

{% block user_content %}
  {% if not token_valid %}
    <p class="error">
      This password reset link is invalid or has expired. Ask your organization admin to generate a new one.
    </p>
    <p><a href="{% url 'user-login' %}">Back to log in</a></p>
  {% else %}
    <form id="reset-password-form" action="" method="post">
      {% csrf_token %}
      <p>
        <input type="password" class="lsf-input-ls" name="password" id="password" placeholder="New password">
        {% if form.errors.password %}
          <ul class="field_errors">
            {% for error in form.errors.password %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
      <p>
        <input type="password" class="lsf-input-ls" name="password_confirm" id="password_confirm" placeholder="Confirm new password">
        {% if form.errors.password_confirm %}
          <ul class="field_errors">
            {% for error in form.errors.password_confirm %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="error">
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
      <p><button type="submit" aria-label="Set new password" class="lsf-button-ls lsf-button-ls_look_primary">Set new password</button></p>
    </form>
  {% endif %}
{% endblock %}
